html {
	/*background: url('../img/giant_burger_yellow.jpg') no-repeat center center fixed;*/
	background: url('../img/unique_burger_blue.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Passion One', cursive;
	font-weight: 700;
	/*color: #e65100;*/
	color: #ff3d00;
}

h3, h5 {
	font-family: 'Passion One', cursive;
	font-weight: 400;
	color: #fff;
}

h6 {
	padding-top: 10px;
}

.eaten {
	/*color: #bbb;*/
	text-decoration: line-through;
}

#burger-form {
	background-color: rgba(255,255,255,0.4);
}